{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load leaflet_tags %}

{% block title %} Blog {% endblock %}


{% block content %}

    <main>
        <section class="section section-lg mt-3">
            <div class="container">

                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12 col-lg-12 mb-5">
                        <div class="card bg-primary shadow-soft border-light p-2 p-md-3 p-lg-5">
                            <div class="card-header">
                                <div class="row justify-content-center">
                                    <h2>Coğrafi Bilgi Sistemleri(CBS) Laboratuvarı</h2>
                                    <div class="col-12">

                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {% bootstrap_form form %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script>

        const geodjango_id_mpoly = {};
        geodjango_id_mpoly.fieldid = 'id_mpoly';
        geodjango_id_mpoly.modifiable = true;
        geodjango_id_mpoly.geom_type = 'MultiPolygon';
        geodjango_id_mpoly.srid = 4326;


        L.drawLocal.draw.toolbar.actions.title = "Çizimi iptal et";
        L.drawLocal.draw.toolbar.actions.text = "İptal";
        L.drawLocal.draw.toolbar.undo.title = "Son noktayı sil";
        L.drawLocal.draw.toolbar.finish.text = "Bitir";
        L.drawLocal.draw.toolbar.undo.text = "Son noktayı sil";
        L.drawLocal.draw.toolbar.buttons.polyline = "Poli-line çiz";
        L.drawLocal.draw.toolbar.buttons.polygon = "Poligon çiz";
        L.drawLocal.draw.toolbar.buttons.rectangle = "Dörtgen çiz";
        L.drawLocal.draw.toolbar.buttons.circle = "Çember çiz";
        L.drawLocal.draw.toolbar.buttons.marker = "Yer işaretle";
        L.drawLocal.draw.handlers.circle.tooltip.start = "Çember konum";
        L.drawLocal.draw.handlers.marker.tooltip.start = "Yer işaretle";
        L.drawLocal.draw.handlers.polygon.tooltip.start = "Çizime başla";
        L.drawLocal.draw.handlers.polygon.tooltip.cont = "Çizime devam et";
        L.drawLocal.draw.handlers.polygon.tooltip.end = "Click first point to close this shape.";
        L.drawLocal.draw.handlers.polyline.error = "<strong>Error:</strong> shape edges cannot cross!";
        L.drawLocal.draw.handlers.polyline.tooltip.start = "Çizime başla";
        L.drawLocal.draw.handlers.polyline.tooltip.cont = "İşaretle ve çizime devam et";
        L.drawLocal.draw.handlers.polyline.tooltip.end = "Son noktayı işaretle";
        L.drawLocal.draw.handlers.rectangle.tooltip.start = "Tıkla ve dörtgen çiz.";
        L.drawLocal.draw.handlers.simpleshape.tooltip.end = "Release mouse to finish drawing.";

        L.drawLocal.edit.toolbar.actions.save.title = "Değişiklikleri kaydet";
        L.drawLocal.edit.toolbar.actions.save.text = "Kaydet";
        L.drawLocal.edit.toolbar.actions.assign.title = "Bitir"
        L.drawLocal.edit.toolbar.actions.cancel.title = "Düzenlemeyi iptal et";
        L.drawLocal.edit.toolbar.actions.cancel.text = "İptal";
        L.drawLocal.edit.toolbar.buttons.edit = "Düzenle";
        L.drawLocal.edit.toolbar.buttons.editDisabled = "Düzenlenecek katman yok.";
        L.drawLocal.edit.toolbar.buttons.remove = "Katmanı sil";
        L.drawLocal.edit.toolbar.buttons.removeDisabled = "Silinecek katman yok";
        L.drawLocal.edit.handlers.edit.tooltip.text = "Drag handles, or marker to edit feature.";
        L.drawLocal.edit.handlers.edit.tooltip.subtext = "Değişikleri geri al.";
        L.drawLocal.edit.handlers.remove.tooltip.text = "Özellikleri kaldır";

        L.Control.ResetView.TITLE = "Sıfırla";
        L.Control.ResetView.ICON = "url(/static/leaflet/images/reset-view.png)";


        function id_mpoly_map_callback(map, options) {
            geodjango_id_mpoly.field_store_class = L.FieldStore;
            geodjango_id_mpoly.precision = options.djoptions.precision;
            (new L.GeometryField(geodjango_id_mpoly)).addTo(map);

        }


    </script>

{% endblock %}

