{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load leaflet_tags %}

{% block title %} Blog {% endblock %}


{% block content %}


    <main>
        <section class="section section-lg">
            <div class="container">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger alert-dismissible shadow-soft fade show" role="alert">
                        {% else %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show"
                                 role="alert">
                        {% endif %}

                    <span class="alert-inner--icon">
                                    {% if message.tags == 'error' %}
                                        <span class="far fa-thumbs-down"></span>
                                    {% elif message.tags == 'success' %}
                                        <span class="far fa-thumbs-up"></span>
                                    {% else %}

                                    {% endif %}
                                </span>

                    <span class="alert-inner--text"><strong>{{ message }}</strong> </span>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12 col-lg-12 mb-5">
                        <div class="card bg-primary shadow-soft border-light p-2 p-md-3 p-lg-5">
                            <div class="card-header">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="shadow-inset p-4 mb-5 rounded">
                                            <iframe class="map rounded" id="gmap_canvas"
                                                    src="{% leaflet_map "world" %}"></iframe>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

