
    <footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <p><strong>BioBlog</strong> is a premium Bootstrap UI Kit built based on the newest design trend called Neumorphism.</p>
                  <ul class="d-flex list-unstyled mb-5 mb-lg-0">
                      <li class="mr-2">
                          <a href="https://twitter.com/themesberg" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="twitter social link"
                          data-toggle="tooltip" data-placement="top" title="Follow @themesberg on Twitter">
                              <span aria-hidden="true" class="fab fa-twitter"></span>
                          </a>
                      </li>
                      <li class="mr-2">
                          <a href="https://www.facebook.com/themesberg/" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="facebook social link"
                          data-toggle="tooltip" data-placement="top" title="Like @themesberg on Facebook">
                              <span aria-hidden="true" class="fab fa-facebook"></span>
                          </a>
                      </li>
                      <li class="mr-2">
                          <a href="https://github.com/themesberg" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="github social link"
                          data-toggle="tooltip" data-placement="top" title="Open source projects">
                              <span aria-hidden="true" class="fab fa-github"></span>
                          </a>
                      </li>
                      <li>
                          <a href="https://dribbble.com/themesberg" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="dribbble social link"
                          data-toggle="tooltip" data-placement="top" title="Follow us on Dribbble">
                              <span aria-hidden="true" class="fab fa-dribbble"></span>
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="col-6 col-lg-2 mb-5 mb-lg-0">
                  <h5>BioBlog</h5>
                  <ul class="footer-links list-unstyled mt-2">
                      <li class="mb-1"><a class="p-2" target="_blank" href="{% url "world:anasayfa" %}">CBS</a></li>
                      <li class="mb-1"><a class="p-2" target="_blank" href="https://themesberg.com/products">Laboratuvar</a></li>
                      <li class="mb-1"><a class="p-2" target="_blank" href="https://themesberg.com/about">Hakkımızda</a></li>
                      <li><a class="p-2" target="_blank" href="https://themesberg.com/contact">İletişim</a></li>
                  </ul>
              </div>
              <div class="col-6 col-lg-2 mb-5 mb-lg-0">
                  <h5>Diğer</h5>
                  <ul class="footer-links list-unstyled mt-2">
                      <li class="mb-1">
                          <a class="p-2" href="#" target="_blank">
                              Üye Ol
                          </a>
                      </li>
                      <li class="mb-1">
                          <a class="p-2" href="#" target="_blank">Oturum Aç</a>
                      </li>
                      <li class="mb-1">
                          <a class="p-2" target="_blank" href="#">Gizlik</a>
                      </li>
                  </ul>
              </div>
              <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                  <h5>Abone Ol</h5>

                  <form action="#" method="post">
                      {% csrf_token %}
                      <div class="form-row mb-2">
                          <div class="col-12">
                              <label class="h6 font-weight-normal d-none" for="exampleInputEmail3">Email addres</label>
                              <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email_sub" aria-label="Subscribe form" id="exampleInputEmail3" required>
                          </div>
                          <div class="col-12">
                              <button type="submit" class="btn btn-primary btn-block" data-loading-text="Sending">
                                  <span>Abone Ol</span>
                              </button>
                          </div>
                      </div>
                  </form>
                  <p class="text-gray font-small m-0"> Email adresiniz paylaşılmayacaktır. <a class="text-black" href="#">Gizlilik ilkemiz</a></p>
              </div>
          </div>

          <hr class="my-5">

          <div class="row">
              <div class="col">
                  <a href="/" target="_blank" class="d-flex justify-content-center">
                      <img src="/static/blog/assets/img/themesberg.svg" height="25" class="mb-3" alt="Themesberg Logo">
                  </a>
              <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                  <p class="font-weight-normal font-small mb-0">
                    &copy; BioBlog 2022 - {% now "Y" %}
                  </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
