{% load static %}
<!-- Core -->
<script src="{% static "blog/assets/vendor/jquery/dist/jquery.slim.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/headroom.js/dist/headroom.min.js" %}"></script>

<!-- Vendor JS -->
<script src="{% static "blog/assets/vendor/onscreen/dist/on-screen.umd.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/nouislider/distribute/nouislider.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/waypoints/lib/jquery.waypoints.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/jarallax/dist/jarallax.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/jquery.counterup/jquery.counterup.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/prismjs/prism.js" %}"></script>

<!-- Neumorphism JS -->
<script src="{% static "blog/assets/js/neumorphism.js" %}"></script>
<!-- Lottie JS -->
<script src="{% static "blog/assets/js/lottie-player.js" %}"></script>

