<!DOCTYPE html>
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- Primary Meta Tags -->
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Neumorphism UI">
    <meta name="author" content="Erdem ÖZER">

    <!--  Social tags -->
    <meta name="description" content="Neumorphism UI Kit - MIT License.">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Neumorphism UI">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="">

    <!-- Open Graph data -->
    <meta property="fb:app_id" content="214738555737136">
    <meta property="og:title" content=""/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="Themesberg"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/static/blog/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/blog/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/blog/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/blog/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/blog/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          rel="stylesheet">

    <!-- Pixel CSS -->
    <link type="text/css" href="{% static "blog/assets/css/neumorphism.css" %}?{% now "U" %}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

</head>

<body>

{% include 'includes/navigation.html' %}

<main>

    {% block content %}{% endblock %}

</main>

{% include 'includes/footer.html' %}

{% include 'includes/scripts.html' %}


{% block javascripts %}{% endblock %}

</body>

</html>
